$github-dark-grey: #24292e;
$github-blue: #0366d6;

.github-issues {
  @include widget($white, $black, $github-blue, $github-dark-grey);

  .widget__icon {
    color: $white;
    //text-shadow: 0px 0px 3px lighten($white, 20%);
  }
}

.github-issues__list {
  margin: 1em 0;
  padding: 0 1em;
  list-style: none;

  li {
    border-bottom: 1px solid $grey;
  }
}

.github-issue {
  display: flex;
  align-items: center;
}

.github-issue__name {
  flex: 3;
  font-size: 0.875em;

  color: $github-blue;
  text-decoration: none;
  &:hover {
    color: $github-blue;
    text-decoration: underline;
  }
}

.github-issue__date {
  flex: 2;
  flex-basis: auto;
}
