@import '_variables.scss';

.react-grid-item > .react-resizable-handle {

  background: none;

  &::after {
    content: '\f065';
    font-family: 'FontAwesome';
    font-size: 0.8em;
    transform: rotateY(180deg);
    display: block;
    position: absolute;
    bottom: 1px;
    right: 4px;
  }
}

.react-grid-item.resizing {
  cursor: nesw-resize;
}

.react-grid-item.react-grid-placeholder {
  background: $green;
  //border: 5px dashed $black;
  box-shadow: inset 0 0 0 5px $black;
}

.react-grid-item.react-draggable-dragging {
  cursor: move;
}
