// Colors
$white: #ffffff;
$black: #000000;
$light-blue: #5ca1eb;
$blue: blue;
$green: green;
$grey: #dddddd;
$red: #ff0000;
$orange: #fda42a;
$light-grey: #f1f1f1;


$widgetHeaderHeight: 52px;

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
