$spotify-grey: #282828;
$spotify-green: #2fd566;

.spotify {
  @include widget($white, $white, $spotify-green, $spotify-grey);
}

.spotify__container {
  position: relative;
  padding-bottom: 100vh;
  //height: 0;
  //overflow: hidden;
  //max-width: 100%;
}

.spotify__embed {
  width: 100%;
  height: 100%;
  border: none;
  //padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  //width: 100%;
  //height: 100%;
}
