#root {
  height: inherit;
}

.app {
  height: inherit;
  text-align: center;
  //background: lighten($green, 70%);
}

.header {
  background-color: #222;
  height: 4em;
  line-height: 4.5em;
  padding: 1em;
  color: $white;

  h2 {
    margin: 0;
    line-height: inherit;
  }
}

.layout {
  //margin: 1em 0;
  padding-top: 0.5em;
  //height: calc(100vh - 115px - 16px);
}
